body {
        background-color: ghostwhite;
      }

      .data-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .userCard {
        width: 250px;
        padding: 20px;
        margin: 20px;
        border: 0px;
        border-radius: 15px;
        box-shadow: 5px 10px 5px gray;
        background-color: white;
      }

      .inlineSearch {
       margin-left: auto;
       margin-right: auto;
       width: 50%;
      }

      #searchInput {
        width: 250px;
        padding: 15px;
        border-radius: 15px;
        border:0px;
        box-shadow: 5px 10px 5px gray;
      }

      #searchButton {
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
        border:0px;
        box-shadow: 5px 10px 5px gray;
        background-color: brown;
        color: white;
      }

      #searchButton:hover {
        background-color: red;
      }

      #addUser {
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
        border:0px;
        box-shadow: 5px 10px 5px gray;
        background-color: green;
        color: white;
      }

      #addUser:hover {
        background-color: limegreen;
      }

      .userPhoto {
        margin-right: 20px;
      }

      a {
        text-decoration: none;
        color: blue;
      }

      #deleteUser {
        margin: 5px;
        padding: 10px;
        border-radius: 15px;
        border:0px;
        background-color: blue;
        color: white;
      }

       #deleteUser:hover {
        background-color: rgb(107, 107, 217);
      }

      #editInfo {
        margin: 5px;
        padding: 10px;
        border-radius: 15px;
        border:0px;
        background-color: lightskyblue;
        color: white;
      }

      #editInfo:hover {
        background-color: blue;
      }

      .inputAdd {
        width: 250px;
        padding: 15px;
        margin: 15px;
        border-radius: 15px;
        border-bottom: 1px black;
        background-color: whitesmoke;
      }

      .addUser {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 5px 10px 5px gray;
        margin-top: 20px;
      }

      .addUser > p {
        margin: 20px;
        font-weight: bolder;
        font-size: larger;
      }